@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  --bright-blue: hsl(220, 98%, 61%);
  --light-purple: hsl(280, 87%, 65%);
  --light-blue: hsl(192, 100%, 67%);

  /* variables */
  --bg-primary: var(--very-light-gray);
  --bg-secondary: white;
  --border-color: var(--very-light-grayish-blue);
  --placeholder-color: var(--dark-grayish-blue);
  --line-through-color: var(--dark-grayish-blue);
  --font-primary: var(--very-dark-grayish-blue);
  --font-secondary: var(--light-grayish-blue);
  --font-tertiary: var(--dark-grayish-blue);
  --bg-image: url(/src/assets/images/bg-mobile-light.jpg);
  --theme-icon: url(/src/assets/images/icon-moon.svg);
  --spacer: 1em 1.4em;
  --checkbox-size: 1.5em;
}

.dark-mode {
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);

  /* variables */
  --bg-primary: var(--very-dark-blue);
  --bg-secondary: var(--very-dark-desaturated-blue);
  --border-color: var(--very-dark-grayish-blue);
  --placeholder-color: var(--dark-grayish-blue);
  --line-through-color: var(--dark-grayish-blue);
  --font-primary: var(--light-grayish-blue);
  --font-secondary: var(--very-dark-grayish-blue);
  --font-tertiary: var(--dark-grayish-blue);
  --bg-image: url(/src/assets/images/bg-mobile-dark.jpg);
  --theme-icon: url(/src/assets/images/icon-sun.svg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button {
  font: inherit;
}

body {
  --font-size: 0.8rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: var(--font-size);
  background-image: var(--bg-image);
  background-position-x: center;
  background-color: var(--bg-primary);
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100vh;
  min-height: 100svh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 55ch;
  margin: 0 auto;
  padding: 1.5em 1.8em;
  gap: 1em;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

/* There is a problem with the vertical metric of the given custom font which results  */
/* in incorrect line height of the font in mac os. To solve this, refers to the following link */
/* https://www.maxkohler.com/posts/2022-02-19-fixing-vertical-metrics/ */
.main-header__title {
  font-weight: bold;
  color: white;
  letter-spacing: 0.5em;
  user-select: none;
}

.theme-switcher {
  width: 1.5em;
  height: 1.5em;
  background: var(--theme-icon) center/contain no-repeat;
  border: none;
  padding: 0;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.theme-switcher:hover,
.theme-switcher:focus {
  transform: scale(1.2);
}

.new-task-form {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--bg-secondary);
  padding: var(--spacer);
}

.new-task-form::before {
  content: '';
  border: 1px solid var(--border-color);
  border-radius: 50%;
  min-width: 1.5em;
  min-height: 1.5em;
  margin-right: 1em;
}

.new-task-form__input {
  color: var(--font-primary);
  border: none;
  background-color: transparent;
}

.new-task-form__input::placeholder {
  overflow: visible;
  color: var(--placeholder-color);
}

.tasks {
  background-color: var(--bg-secondary);
  border-radius: 5px;
}

.list {
  padding: 0;
  margin: 0;
  min-height: 3.5em;
}

.list__task {
  display: flex;
  align-items: center;
  color: var(--font-primary);
  list-style: none;
  border-bottom: 1px solid var(--border-color);
  padding: var(--spacer);
  gap: 1em;
}

/* Custom checkbox that conforms to the WCAG */
/* https://stackoverflow.com/questions/4148499/how-to-style-a-checkbox-using-css */
.list__task:before {
  content: '';
  border: 1px solid var(--border-color);
  border-radius: 50%;
  min-width: var(--checkbox-size);
  min-height: var(--checkbox-size);
}

.list__task:has(input[type="checkbox"]:checked):before {
  background: url(/src/assets/images/icon-check.svg) center/53% no-repeat, linear-gradient(to left top, var(--light-purple), var(--light-blue));
  border: 0;
}

.list__task:has(input[type="checkbox"]:focus):before,
.list__task:has(input[type="checkbox"]:hover):before {
  outline: hsl(212, 99%, 40%) auto 1px;
  outline-offset: 1px;
}

.list__task--completed {
  color: var(--font-secondary);
  text-decoration: line-through var(--line-through-color) 1.3px;
}

input[type="checkbox"] {
  position: absolute;
  min-width: var(--checkbox-size);
  min-height: var(--checkbox-size);
  opacity: 0;
  margin: 0;
}

.list__delete-task {
  opacity: 0;
  width: 0.7em;
  margin-left: auto;
  transform: scale(1.0);
  transition: transform 300ms ease-in-out;
  cursor: default;
}

.list__delete-task:focus,
.list__delete-task:hover {
  opacity: 1;
  transform: scale(1.4);
}

.list__task:hover>.list__delete-task {
  opacity: 1;
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-tertiary);
  padding: var(--spacer);
}

.status__count,
.clear-completed-tasks {
  font-size: 0.6rem;
}

.clear-completed-tasks {
  color: inherit;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.clear-completed-tasks:focus,
.clear-completed-tasks:hover {
  color: var(--font-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

.nav {
  display: none;
}

.mobile-nav {
  background-color: var(--bg-secondary);
  border-radius: 5px;
  padding: var(--spacer);
}

.nav__items {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 1em;
  padding: 0;
  margin: 0;
  color: var(--font-tertiary);
  font-weight: 700;
}

.nav__items a {
  cursor: default;
}

.nav__items a:focus,
.nav__items a:hover {
  color: var(--font-primary);
}

.nav__current {
  color: var(--bright-blue);
}

.footer {
  margin-top: 2em;
  text-align: center;
  color: var(--font-tertiary);
  cursor: default;
}

.dragging-task {
  border: 1px solid var(--light-purple);
}

/* Hide elements visually but keep them available to screen readers */
/* https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/ */
.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

@media (min-width: 376px) {
  :root {

    --bg-image: url(/src/assets/images/bg-desktop-light.jpg);
  }

  .dark-mode {

    --bg-image: url(/src/assets/images/bg-desktop-dark.jpg);
  }

  body {
    --font-size: 1.125rem;
    background-image: var(--bg-image);
    font-size: var(--font-size);
  }

  .status__count,
  .clear-completed-tasks {
    font-size: 0.8rem;
  }

  /* Align the navigation bar in the centre */
  .status__count,
  .clear-tasks-wrapper {
    flex: 1;
  }

  .clear-tasks-wrapper {
    text-align: right;
  }

  .nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  .footer {
    font-size: 0.9rem;
  }
}