@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  --bright-blue: hsl(220, 98%, 61%);
  --light-purple: hsl(280, 87%, 65%);
  --light-blue: hsl(192, 100%, 67%);
  --spacer: 1em 1.4em;
  --checkbox-size: 1.5em
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input {
  font-size: inherit;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url(/src/assets/images/bg-mobile-light.jpg);
  background-position-x: center;
  background-color: var(--very-light-gray);
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100vh;
  min-height: 100svh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 55ch;
  margin: 0 auto;
  padding: 1.5em 1.8em;
  gap: 1em;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__title {
  margin: 0.4em 0;
  font-weight: bold;
  color: white;
  letter-spacing: 0.5em;
  user-select: none;
}

.theme-switcher {
  font-size: inherit;
  width: 1.5em;
  cursor: default;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.theme-switcher:hover,
.theme-switcher:focus {
  color: var(--bright-blue);
  transform: scale(1.2);
}

.new-task-form {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  padding: var(--spacer);
}

.new-task-form::before {
  content: '';
  border: 1px solid var(--light-grayish-blue);
  border-radius: 50%;
  min-width: 1.5em;
  min-height: 1.5em;
  margin-right: 1em;
}

.new-task-form__input {
  font: inherit;
  border: none;
  background-color: transparent;
}

.new-task-form__input::placeholder {
  overflow: visible;
  color: var(--dark-grayish-blue)
}

.tasks {
  background-color: white;
  border-radius: 5px;
}

.list {
  padding: 0;
  margin: 0;
}

.list__task {
  display: flex;
  align-items: center;
  color: var(--very-dark-grayish-blue);
  list-style: none;
  border-bottom: 1px solid var(--light-grayish-blue);
  padding: var(--spacer);
  gap: 1em;
}

/* Custom checkbox that conforms to the WCAG */
/* https://stackoverflow.com/questions/4148499/how-to-style-a-checkbox-using-css */
.list__task:before {
  content: '';
  border: 1px solid var(--light-grayish-blue);
  border-radius: 50%;
  min-width: var(--checkbox-size);
  min-height: var(--checkbox-size);
}

.list__task:has(input[type="checkbox"]:checked):before {
  background: url(/src/assets/images/icon-check.svg) center/53% no-repeat, linear-gradient(to left top, var(--light-purple), var(--light-blue));
  border: 0;
}

.list__task:has(input[type="checkbox"]:focus):before,
.list__task:has(input[type="checkbox"]:hover):before {
  box-shadow: 0px 0px 0px 2px hsl(212, 99%, 40%)
}

.list__task--completed {
  color: var(--light-grayish-blue);
  text-decoration: line-through;
}

input[type="checkbox"] {
  position: absolute;
  min-width: var(--checkbox-size);
  min-height: var(--checkbox-size);
  opacity: 0;
  margin: 0;
}

.list__delete-task {
  opacity: 0;
  width: 0.7em;
  margin-left: auto;
  transform: scale(1.0);
  transition: transform 300ms ease-in-out;
  cursor: default;
}

.list__delete-task:focus,
.list__delete-task:hover {
  opacity: 1;
  transform: scale(1.4);
}

.list__task:hover>.list__delete-task {
  opacity: 1;
}

.status {
  display: flex;
  justify-content: space-between;
  color: var(--dark-grayish-blue);
  padding: var(--spacer);
}

.clear-completed-tasks {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.clear-completed-tasks:focus,
.clear-completed-tasks:hover {
  color: var(--very-dark-grayish-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

.nav {
  display: none;
}

.mobile-nav {
  background-color: white;
  padding: var(--spacer);
}

.nav__items {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 1em;
  padding: 0;
  margin: 0;
  color: var(--dark-grayish-blue);
  font-weight: 700;
}

.nav__items a {
  cursor: default;
}

.nav__items a:focus,
.nav__items a:hover {
  color: var(--very-dark-grayish-blue);
}

.nav__current {
  color: var(--bright-blue);
}

.footer {
  margin-top: 2em;
  text-align: center;
  color: var(--dark-grayish-blue);
  cursor: default;
}

/* Hide elements visually but keep them available to screen readers */
/* https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/ */
.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

@media (min-width: 376px) {
  body {
    font-size: 1.125rem;
    background-image: url(/src/assets/images/bg-desktop-light.jpg);
  }

  .main-header__title {
    margin: 1.3em 0;
  }

  .status {
    font-size: 0.9rem;
  }

  /* Align the navigation bar in the centre */
  .status__count,
  .clear-tasks-wrapper {
    flex: 1;
  }

  .clear-tasks-wrapper {
    text-align: right;
  }

  .nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  .footer {
    font-size: 0.9rem;
  }
}